<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to lists_path, class: "navbar-brand" do %>
      <%= image_tag "https://media.istockphoto.com/photos/paper-cup-with-a-popcorn-on-white-picture-id1160441778?k=20&m=1160441778&s=612x612&w=0&h=O14acdtSZldtg_I4Tmi3WbMZElbNwU3JuDfHzyN8-Hs=" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>